
.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

select{
  width: 200px;
}

/* Styles for GameStatus component */

.game-status-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: rgb(75, 75, 75);
  opacity: 95%;
  width: 100%;
  height: 75px;

  color: white;
}


.game-status-icons{
  display: flex;
}

.game-status-icon-container{
  height: 65px;
  width: 65px;
}

.game-status-icon{
  height: 65px;
}


/* Styles for DropDown component */

.character-select-dropdown{
  display: flex;
  flex-flow: column;
  gap: 5px;
  width: fit-content;
  padding: 5px;
  color: rgb(225, 225, 225);
  font-weight: bold;
  background-color: rgb(75, 75, 75);
  border-radius: 5px;
  border: 2px solid black
}

.dropdown-selection{
  display: flex;
  align-items: center;
  padding: 2px;
  padding-right: 4px;
}

.dropdown-selection:hover{
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
 
}

.selection-img-container{
  height: 40px;
  width: 40px;
  
}
.selection-img{
  height: 40px;
}