
.App {
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

select{
  width: 200px;
}

.game {
  display: flex;
  flex-flow: column;
  text-align: center;
  min-height: 100vh;
}

/* Styles for GameSelection component */

.game-selection-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 100;

  background-color: rgba(150, 150, 150, 0.8);
}

.game-selection-menu-container{
  width: 75%;
  height: fit-content;
  border: 2px solid white;
}

.board-selection-img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.board-selection-img{
  width: calc(100% / 3.05)
}

.board-selection-img:hover{
  border: 1px solid red;
}

.player-name-input-row{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Styles for GameStatus component */

.game-status-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: rgb(75, 75, 75);
  opacity: 95%;
  width: 100%;
  height: fit-content;
  padding: 5px;

  color: white;
}


.game-status-icons{
  display: flex;
}

.game-status-icon-container{
  height: 85px;
  width: 85px;
}

.game-status-icon{
  height: 85px;
}


/* Styles for DropDown component */

.character-select-dropdown{
  display: flex;
  flex-flow: column;
  gap: 5px;
  width: fit-content;
  padding: 5px;
  color: rgb(225, 225, 225);
  font-weight: bold;
  background-color: rgb(75, 75, 75);
  border-radius: 5px;
  border: 2px solid black
}

.dropdown-selection{
  display: flex;
  align-items: center;
  padding: 2px;
  padding-right: 4px;
}

.dropdown-selection:hover{
  background-color: rgb(100, 100, 100);
  border-radius: 5px;
 
}

.selection-img-container{
  height: 40px;
  width: 40px;
  
}
.selection-img{
  height: 40px;
}

/* DELETE AFTER FINISHING SCOREBOARD STYLING */
table,
th,
tr,
td{
  border: 1px solid white;
}

.scoreboard-container{
  height: fit-content;
  width: fit-content;

  background-color: black;

  z-index: 200;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;  
}

.table-col-1{
  text-align: center;
}